@import '../variables';

.footer {
  background-color: $backgroundColor;
}

.inner {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 20px;
}

.link {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(169, 169, 169);
  text-decoration: underline;
}