@import '../variables.scss';

.actions {
  display: flex;
  margin: 20px 0 30px;
}

.title {
  font-weight: 500;
  font-size: 32px;
}

.btns {
  margin-left: auto;
}

.btn { /** &[button] */
  display: inline-flex;
  margin-left: 15px;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid;
  border-radius: $commonBorderRadius;
  background-color: transparent;
  transition: .2s;
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

.disabled {
  opacity: .4;
  pointer-events: none;
}

.fav {
  composes: btn;
  border-color: $favColor;

  &:hover {
    background-color: $favColor;
  }

  &-disabled {
    composes: fav;
    composes: disabled;
  }
}

.del {
  composes: btn;
  border-color: $defaultColor;

  &:hover {
    background-color: $defaultColor;
  }

  &-disabled {
    composes: del;
    composes: disabled;
  }
}