@import "../media";
@import "../variables";

.nav {
  display: flex;
  white-space: nowrap;

  @media ($tabletP) {
    margin: 0 $containerPHTablet * -1;
    padding: 0 $containerPHTablet;
    overflow: auto;
  }
}