@import '../../styles/variables';

.title {
  display: flex;
  margin-right: 20px;
  align-items: center;
  padding: 12px 0;
  border-radius: $commonBorderRadius;
  font-size: 24px;
  cursor: pointer;
  position: relative;

  /* line */
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $customPurple;
    transition: width .4s ease-in-out;
  }

  /* text */
  div {
    color: transparent;

    /* visible text */
    &:before {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 50%;
      font-weight: 400;
      color: $inactiveText;
      transform: translateY(-50%);
      transition: color .2s;
    }
  }

  /* num */
  span {
    display: inline-flex;
    min-width: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    text-align: center;
    color: $inactiveText;
    font-weight: 500;
    opacity: .5;
    transition: color .2s, opacity .2s;

    /* loader */
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.active {
  composes: title;
  cursor: default;

  /* line */
  &:after {
    width: 100%;
  }

  /* text */
  div {

    /* visible text */
    &:before {
      font-weight: 500;
    }
  }
}

.active,
.title:hover {

  /* text */
  div {

    /* visible text */
    &:before {
      color: $textColor;
    }
  }

  /* num */
  span {
    color: $exp6Color;
    opacity: 1;
  }
}