@import './media';

/** Colors */
$textColor: black;
$inactiveText: #a7a7a7;
$linkColor: #8b8585;
$favColor: #fccea6;
$newColor: #f49c9c;

$test1: #a7a7a7;

$junColor: #88e7d6;
$exp3Color: #a3d0f3;
$exp6Color: #a0acf6;

$salaryColor: #abd59f;

$defaultColor: #b3b3b3;
$customRed: #f67b7b;

$customPurple: #5E72EB;
$customPurpleH: #495fe4;
$customPurpleL: #CFD4F0;

$backgroundColor: #F4F7FC;
$backgroundColorL: #FDFDFD;
$borderColor: #EEEFF5;

/** Variables */
$shadowParams: 0 0 10px;

$commonBorderRadius: 13px;

/* todo media */
$containerPHDesktop: 30px;
$containerPHTablet: 15px;