/*  todo вынести все цвета в переменные */
$textColor: black;
$linkColor: #8b8585;
//$linkColor: lightskyblue;
$favColor: #fccea6;
$newColor: #a7b1ec;
//$newColor: #ccc4f5;

$junColor: #88e7d6;
$exp3Color: #a3d0f3;
$exp6Color: #ee8484;

$salaryColor: #abd59f;

$defaultColor: #b3b3b3;
$customRed: #f67b7b;

$customPurple: #5E72EB;
$customPurpleH: #495fe4;
$customPurpleL: #CFD4F0;

$backgroundColor: #F4F7FC;
$borderColor: #EEEFF5;

$shadowParams: 0 0 10px;

$commonBorderRadius: 13px;