@import "../../variables";

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0 0;
  background-color: $backgroundColor;

  & > h3 {
    color: $customPurple;
  }
}

.loading {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 24px;
  color: $customPurple;
}