@import '../../variables';
@import '../../media';

@value groupPaddingH 25px;

@media ($laptop) {
  @value groupPaddingH 15px;
}


.group {
  margin: 0 calc(groupPaddingH * -1) 40px;
  padding: 0 groupPaddingH 25px;
  border: 2px solid transparent;
  border-radius: $commonBorderRadius;
}

.is_fav {
  composes: group;
  border-color: $favColor;

  .title {
    border-color: $favColor;
  }

  /* vacancy description todo mixin */
  a div {
    box-shadow: $shadowParams $favColor;
  }
}

.is_new {
  composes: group;
  border-color: $newColor;

  .title {
    border-color: $newColor;
  }

  /* vacancy description todo mixin */
  a div {
    box-shadow: $shadowParams $newColor;
  }
}

.is_jun {
  composes: group;
  border-color: $junColor;

  .title {
    border-color: $junColor;
  }

  /* vacancy description todo mixin */
  a div {
    box-shadow: $shadowParams $junColor;
  }

  h2 { // item.title
    color: black !important;
  }
}

.is_salary {
  composes: group;
  border-color: $salaryColor;

  .title {
    border-color: $salaryColor;
  }

  /* vacancy description todo mixin */
  a div {
    box-shadow: $shadowParams $salaryColor;
  }

  // '$'
  a > span > span {
    display: none;
  }
}

.default {
  composes: group;
  border-color: $defaultColor;

  .title {
    border-color: $defaultColor;
  }

  /* vacancy description todo mixin */
  a div {
    box-shadow: $shadowParams $defaultColor;
  }
}

.title { // &[h3]
  display: inline-block;
  margin: 0;
  padding: 4px 15px;
  border: 2px solid $defaultColor;
  border-radius: $commonBorderRadius;
  background: $backgroundColor;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-50%);
}