@import "../../variables";

.section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0 0;
  background-color: $backgroundColor;

  & > h3 {
    color: $customPurple;
  }
}

.filter {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.filterItem {
  margin-right: 5px;
  padding: 5px 25px;
  border-radius: $commonBorderRadius;
  border: none;
  background-color: $customPurpleL;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: $customPurple;
  }
}

.filterItemActive {
  composes: filterItem;
  background-color: $customPurple;

  &:hover {
    background-color: $customPurpleH;
  }
}

.title {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
}

.loading {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 24px;
  color: $customPurple;

  /** "..." */
  span {
    display: block;
    position: relative;
    margin-bottom: 5px;
    margin-left: 22px;
    animation: dotFlashing infinite linear alternate;
    animation-delay: .3s;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      animation: dotFlashing infinite alternate;
    }

    &,
    &:before,
    &:after {
      width: 7px;
      height: 7px;
      border-radius: 5px;
      background-color: $customPurple;
      animation-duration: .6s;
      color: $customPurple;
    }

    &:before {
      left: -12px;
      animation-delay: 0s;
    }

    &:after {
      left: 12px;
      animation-delay: .6s;
    }
  }
}

@keyframes dotFlashing {
  0% {
    background-color: $customPurpleL;
  }
  50%,
  100% {
    background-color: $customPurple;
  }
}