.title {
  margin-right: 20px;
  padding: 15px 0;
  border-radius: 13px;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #5E72EB;
    transition: width .4s ease-in-out;
  }

  span {
    display: inline-block;
    min-width: 49px;
    padding-left: 15px;
    text-align: center;
    color: #5E72EB;
  }
}

.active {
  composes: title;
  cursor: default;
}

.active,
.title:hover {

  &:after {
    width: 100%;
  }
}