@import '../../media';
@import '../../variables';

.items {
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - 15px));
  grid-gap: 20px;
  flex-wrap: wrap;

  @media ($laptop) {
    //grid-template-columns: repeat(3, calc(33.33% - 15px));
  }
}