@import '../../variables.scss';

.item {
  min-height: 117px;
  padding: 20px 20px;
  //padding: 15px 15px 17px;
  border: 2px solid transparent;
  border-radius: $commonBorderRadius;
  background-color: #fff;
}

.title {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  cursor: pointer;

  &:hover h2 {
    color: $favColor;
  }

  h2 {
    margin: 0;
    font-size: 18px;
    transition: color .2s;
  }
  img {
    max-width: 100px;
    max-height: 40px;
    margin-left: 10px;
  }
}