@import "../../variables";

.link {
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 15px;
  font-size: 15px;
  //color: black;
  text-decoration: none;
  position: relative;
  transition: color .2s;

  &:visited {

    //:global(.text) {
    //  color: lightgray;
    //}
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    //color: cornflowerblue !important;

    :global(.text) {
      color: cornflowerblue;
    }

    .del  {
      opacity: 1;
    }
  }
}

.del {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
  transition: opacity .2s;
  opacity: 0;
  cursor: pointer;

  &:hover {

    svg {

      *:not(g) {
        fill: $textColor;
      }
    }
  }

  svg {
    width: 27px;

    *:not(g) {
      fill: lightgray;
      transition: fill .2s;
    }
  }
}

:global(.isSalary),
.new {
  font-weight: 700;
}
.new {
  font-size: 11px;
  color: $newColor;
  transform: translateY(-3px);
}

:global(.popup) {
  color: $textColor;
  background: #fff;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  z-index: 1;
}

.salary {
  display: block;
  font-weight: 700;
}

.description {
  display: block;
  margin-top: 5px;

  highlighttext {
    margin: -2px 0;
    padding: 2px;
    background-color: #ffff90;
  }
}

:global(.text) {
  display: block;
  max-width: 200px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //color: $textColor;
  color: $linkColor;

  &--is_jun {
    color: $junColor;
  }
  &--exp3 {
    color: $exp3Color;
  }
  &--exp6 {
    color: $exp6Color;
  }
}