@import '/src/styles/variables.scss';

.actions {
  display: flex;
  margin: 20px 0 30px;

  @media ($mobileL) {
    display: block;
  }
}

.rootLink {
  text-decoration: none;
  color: $textColor;
  transition: color .2s;

  &:hover {
    color: $customPurple;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
}

.btns {
  display: flex;
  margin-left: auto;

  @media ($mobileL) {
    justify-content: space-between;
    margin-top: 15px;
  }
}

/* &[label] */
.showArchived {
  display: inline-flex;
  margin-left: 15px;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  @media ($mobileL) {
    margin: 0;
  }

  @media ($mobileP) {
    padding: 5px 8px;
    font-size: 12px;
  }

  input {
    display: none;

    /* switch wrap */
    &:checked+span {

      /* switch inner icon */
      &>span {
        transform: translateX(16px);
        background-color: $customPurpleH;
      }

      &+span {
        opacity: 1;
      }
    }
  }

  input {

    /* switch wrap */
    &+span {
      display: inline-flex;
      width: 40px;
      height: 23px;
      margin-right: 10px;
      padding: 2px;
      align-items: center;
      border: 2px solid $customPurpleL;
      border-radius: $commonBorderRadius;
      background-color: #fff;

      /* switch inner icon */
      span {
        width: 16px;
        height: 16px;
        background-color: $customPurpleL;
        border-radius: 50%;
        transition: .2s;
      }

      /* text */
      &+span {
        opacity: .7;
        transition: .2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* &[button] */
.btn {
  display: inline-flex;
  margin-left: 15px;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid;
  border-radius: $commonBorderRadius;
  background-color: transparent;
  transition: .2s;
  cursor: pointer;

  @media ($mobileL) {
    margin: 0;
  }

  @media ($mobileP) {
    padding: 5px 8px;
    font-size: 12px;
  }
}

.disabled {
  opacity: .4;
  pointer-events: none;
}

.arch {
  composes: btn;
  border-color: $customRed;

  &:hover {
    background-color: $customRed;
  }

  &-disabled {
    composes: arch;
    composes: disabled;
  }
}

.fav {
  composes: btn;
  border-color: $favColor;

  &:hover {
    background-color: $favColor;
  }

  &-disabled {
    composes: fav;
    composes: disabled;
  }
}

.del {
  composes: btn;
  border-color: $defaultColor;

  &:hover {
    background-color: $defaultColor;
  }

  &-disabled {
    composes: del;
    composes: disabled;
  }
}