@import "../../variables";

.filterParam {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 13px;
  background-color: $backgroundColor;
  transition: background-color .2s, color .2s;
  cursor: pointer;

  &:hover {
    background-color: $customRed;
    color: #fff;
  }
}